@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&family=Smooch&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
ul a[href="index.html"]
{
    font-family: "Kaushan Script";
    font-size: medium;
    text-decoration: none;
}
a[href="recipes.html"]
{
    font-family: "Kaushan Script";
    text-decoration: none;
}
a[href="tips.html"]
{
    font-family: "Kaushan Script";
    text-decoration: none;
}
a[href="contributors.html"]
{
    font-family: "Kaushan Script";
    text-decoration: none;
}
a[href="about.html"]
{
    font-family: "Kaushan Script";
    text-decoration: none;
}
main li {
    font-family: "Kaushan Script";
    text-decoration: none;
}
a[href="index.html"]
{
    font-family: "Smooch", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    text-decoration: none;
}
main h2
{
    font-family: "Smooch", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    text-decoration: none;
}
body{
    background-image: url("../images/vintage-grunge-paper-background.jpeg");
    display:block;
    background-position: 1%;
}
html{
    text-align: center;
    list-style-type: none;
}
ul {
    list-style-type: none;
}
header {
    background-image: url("../images/topScrollDone.png");
    background-size:contain;
    background-repeat: no-repeat;
}
main {
    background-image: url("../images/bottom\ of\ scrollDone.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
}