header p {
background-image: url("../images/topScrollDone.png");
background-size:contain;
background-repeat: no-repeat;
padding-top: 20%;
color:rgb(89, 52, 10);
}
header p a{
    font-family: "Kaushan Script";
    font-size: x-large;
    text-decoration: none;
    position: center;
}
body nav {
   font-family: "Kaushan Script";
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}
img{
  margin-left: auto;
  margin-right: auto;
}
main h3 {
    font-family: "Kaushan Script";
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color:rgb(89, 52, 10);
}
ol {
    color:rgb(89, 52, 10);
    font-weight: bold; 
}
footer {
    font-family: "Kaushan Script";
    color:rgb(89, 52, 10);
    margin:auto;
    padding: auto;
    width: 100%;
    height: 10em;
    display: block;
    background-image: url("../images/bottom\ of\ scrollDone.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
header h2 {
    font-size: large;
    padding-bottom: 5%;
}
body header p {
    font-size: x-large;
    font-weight: bold;
}